/* Basic Reset: Applies these properties and values to all html elements. * is the universal selector. */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* root font size. 1rem is 10px now. Use a percentage just in case the user changes the font size. */
}

/* It is good practice to define all the font properties in the body to be inherited by all the other elements.*/
body {
  box-sizing: border-box;
  letter-spacing: 1.7px;
  /* background-color: #DDA15E; */
  /* padding: 2rem 0; */
}

.btn__link-container {
  background-color: #c1121f;
  border-radius: 5px;
}

.btn__link-main {
  font-size: 30px;
  padding: 10px 15px;
  font-weight: bold;
  color: #003049;
  letter-spacing: 2px;
  text-decoration: none;
}

.btn__link-main:hover,
.btn__link-main:focus {
  text-decoration: none;
  color: #c1121f;
}

.btn__link-container:hover,
.btn__link-container:focus {
  background-color: #003049;
}

.btn__link-main:active {
  text-decoration: none;
}
